*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color:  rgb(113, 80, 95);
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;

}
#part2{
    height: 100%;
    width: 68%;
    background-color: rgb(0,208,255);
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
}
#overly{
    height: 100%;
    width: 100%;
    background-color: rgba(144, 107, 123, 0.587);
}
#part3{
    height: 100%;
    width: 6%;
  
}

#text-div{
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left:7%;
    top:50%;
    transform: translate(0,-50%);
}

#text-div>h1{
    font-size: 78px;
    font-family: monument;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 78px;
    color:#fff;
    text-transform: uppercase;
    
}

#small-image-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1529680459049-bf0340fa0755?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    position: absolute;
    top:50%;
    right: 5%;
    transform: translate(0, -50%);
}

#overlyIn{
    height: 100%;
    width: 100%;
    background-color: rgba(144, 107, 123, 0.587);
}

#vertical-text{
   position: absolute; 
   transform: rotate(90deg);
   right:-12%;
   top:42%;
   /* transform-origin: 0% 0%; */
   /* width: 100%; */
   /* background-color: red; */
}

#vertical-text  h1{
    font-size: 60px;
    font-weight: 900;
    color:transparent;
    letter-spacing: 15px;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
     
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    left:5%;
    top:5%;
    /* background-color: red; */

}
#nav img {
    height: 60px;

}
#nav  h5{
    font-size: 20px;
    color:#fff;
    font-family: gilroy;

}